body {
  font-family: Arial, sans-serif;
  /* background: linear-gradient(450deg, #d6c060, #5cb0c9); */
  /* background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff); */
  /* background: linear-gradient(45deg, #ffcdd2, #f8bbd0, #e1bee7, #d1c4e9, #c5cae9, #bbdefb, #b3e5fc, #b2ebf2, #b2dfdb, #c8e6c9);  */
  background: linear-gradient(45deg, #ffefd5, #ffc0cb, #e6e6fa, #d8bfd8, #d0e9c6, #c9daf8, #bbf0f0, #eafaf1, #fff9c4, #ffd8b1);
  background-size: 400% 400%; /* Increase the size of the gradient */
  animation: animate-background 20s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
@keyframes animate-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  text-align: center;
  background-color: #ded7d7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.005);
  }
  100% {
    transform: scale(1);
  }
}

.stopwatch {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #756969;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #ff4d4d;
  transform: translateY(-2px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

.history {
  margin-top: 30px;
  text-align: left;
}

.history h3 {
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  margin-bottom: 5px;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.history li:hover {
  background-color: rgb(83, 221, 65);
  transform: translateX(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}